body{
    background-color: #F9F7F0 ;
}


.navBar {
    display:flex;
    background-color: #F9F7F0;
    height: auto;
    width: 100%;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.3));
    font-size: 18px;
    font-family: inter, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 30px 20px;
}

.navBar a:visited{
    color:black;
    
}
.navBar a:link{
    color:black;
    text-decoration: none;
}

.logo{
    display:flex;
}
.logoSpace, .name{
    margin-right: 20px;

}

.name{
    font-size: 18px;
}
.title{
    font-size: 18px;
}
nav ul{
    display: flex;

}

nav li{
    list-style: none;
    vertical-align: top;
    margin-left: 20px;
}

.hero{
    background-color: #C598BB;
    width:100%;
    display: flex;
    padding-left: 200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profilePic{
    padding-top: 40px;
    margin-bottom: -80px;
    
}


h1{
    font-size: 64px;
    font-family: 'Handlee', cursive;
    font-weight: 400;
}

h2{
    font-size: 40px;
    font-family: nunito, sans-serif ;
    font-weight: 300;
}

.miniBio{
    font-size: 24px;
    font-family: nunito, sans-serif ; 
    font-weight: 300;
    margin-top: 10px;
}

.heroButton{
    margin-top: 40px;
}
.aqua{
    border: none;
    background-color: #9BCED1;
    padding: 9px 35px;
    text-align: center;
    font-size: 24px;
    font-family: nunito, sans-serif;
    border-radius: 15px;
    margin-right: 20px;
    transition: background-color 5sec;
  }
 
.aqua:hover{
    background-color: #DEE088;
  }

  .projectBox .aqua{
    margin-top: 20px;
  }
.turq{
    border: none;
    background-color: #279198;
    padding: 9px 35px;
    text-align: center;
    font-size: 24px;
    font-family: nunito, sans-serif;
    border-radius: 15px;
    transition: background-color 5sec;
}

.turq:hover{
    background-color: #DEE088;
}

.projects{
    background-image: url("./media/recent\ project\ background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.recentProjects{
    margin-top: 120px;
}
.projectDiv{
    display: flex;
    gap:20px;
    margin: 20px 16px 10px 16px;
}

.projectBox{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.projectImage{
    background-color: #F9F7F0;
    border: solid 8px;
    border-color: #9BCED1;
    padding: 20px;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.3));
}
.projectImage img{
        object-fit: fill;
        object-position: center top;
     }

.aboutMe{
    display:flex;
    margin: 100px 20px 100px 20px;
}

.profileColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moo{
    font-size:72px;
    font-family: 'Moo Lah Lah', cursive;
}
.about{
    font-size: 20px;
    font-family: nunito, sans-serif;
    padding: 10px;
    margin-left: 56px;  
    margin-right: 20px; 
    text-align: left;
}

.contact{
    background-color: #DEE088;
}

footer{
    background-image: url(./media/Footer.png);
    background-size: cover;
    height: 417px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
