.navBar {
    display:inline-block
    background-color: #F9F7F0;
    height: auto;
    width: 100%;
    filter: drop-shadow(4px,4px,4px,black);
    font-size: 18px;
    font-family: inter, sans-serif;
}

li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.hero{
    background-color: #C598BB;
    height:421px;
    width:100%;
}
.profile{
    float: left;
}

.aboutInfo{
    float: right;
}

h1{
    font-size: 64px;
    font-family: handlee, ;
}

h2{
    font-size: 64px;
    font-family: nunito, sans-serif ;
}

.aqua{
    border: none;
    background-color: #9BCED1;
    padding: 9px 35px;
    text-align: center;
    font-size: 24px;
    font-family: nunito, sans-serif;
    border-radius: 15px;
  }
.turq{
    border: none;
    background-color: #279198;
    padding: 9px 35px;
    text-align: center;
    font-size: 24px;
    font-family: nunito, sans-serif;
    border-radius: 15px;

    
}
.footer{
    width: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
